
/* body { */
  /* height: 100vh; */
  /* calc(100vh - footer) */
  /* padding-top: 80px; */
  /* height of header */

/* } */

* {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}